

/*large device (desktops)*/
@media (min-width: 1200px) and (max-width: 1300px){

}

/*medium devices (tablets)*/
@media (min-width: 992px) and (max-width: 1199px){
 
}
/*small devices*/
@media (min-width: 768px) and (max-width: 991px){
   
}
/*extra small devices*/
@media (min-width: 767px) {

}
@media (min-width: 480px) and (max-width:570px){
    
}
@media (min-width: 320px)){
    
    .portfolio_area {
  padding-top: 8px;
  padding-bottom: 4px;
}
    .portfolio_image_area .single_Portfolio .portfolio_thumb {
  height: 1px;
       
}
    .portfolio_image_area .single_Portfolio .portfolio_thumb img {
  width: 100%;
  height: 60px;
}
    
}